<!DOCTYPE html>
<html>
	<head>
		<title>My Travels</title>
		<link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
		<link rel="stylesheet"	
		  href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" 
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div id="brand" class="navbar-header">
			<a  class="navbar-brand" href="/"> <i class="fas fa-tram "> My Travels</i></a>
			
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Sign Up</a></li>
					<li><a href="/logout">Log out</a></li>
			</ul>
		</div>
	</div>	
</nav>
		
